@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
}

img{
  width: 40%;
  display: block;
}

.wrapper {
  background: url(../img/header.jpg) no-repeat center center / cover;
  height: 430px;
}

nav {
  padding: 1em;
  text-align: end;
}

nav button {
  border: none;
  background:none;
  color: #fff;
  font-size: .74rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}

.showcase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 40px;
}
.showcase__headline {
  color:#00ED82;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: .9em;
  letter-spacing: 2px;
}

.showcase__logo {
  text-align: center;
  display: block;
  padding-bottom: .75em;
  width: 30%;
  margin-top: 1em;
}

.showcase__title {
  margin-top: .4em;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.showcase__btn {
  width: 100%;
}

.showcase__btn  button{
  width: 75%;
  padding: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.showcase__legal {
  font-weight: 300;
  color: #fff;
  opacity: 0.6;
  font-size: .65rem;
  margin-top: 1rem;
}