@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

html, body {
  font-family: 'Rubik', sans-serif;
  background: #000;
  color: #fff;
}

img{
  width: 100%;
  display: block;
}

.wrapper {
  background-image: url(../img/mobile.jpg);
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 1em;
  text-align: end;
}

nav button {
  border: none;
  background:none;
  color: #fff;
  font-size: .74rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  cursor: pointer;
}

.showcase {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
  text-align: center;
  padding: 0 40px;
}
.showcase__headline {
  color:#00ED82;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: .9em;
  letter-spacing: 2px;
}

.showcase__logo {
  text-align: center;
  display: block;
  padding-bottom: .75em;
  width: 30%;
  margin-top: 1em;
}

.showcase__title {
  margin-top: .4em;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1.5em;
}

.showcase__btn {
  width: 100%;
}

.showcase__btn  button{
  padding: 10px 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.showcase__legal {
  font-weight: 300;
  color: #fff;
  opacity: 0.6;
  font-size: .65rem;
  margin-top: 1rem;
}

/* Sub Showcase*/
.sub-showcase{
  background: linear-gradient(
  318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
  z-index: 1;
  flex: 1;
  text-align: center;
  padding: 20px 15px;
}

.sub-showcase__title {
  color: #00ED82;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.sub-showcase__logos {
  width: 70%;
  display: block;
  margin-bottom: 1em;
  margin: 0 auto;
}

.sub-showcase__details {
  margin: 1em 0;
}

.sub-showcase__detail-primary {
  font-size: 12px;
}

.sub-showcase a {
  color: #fff;
  opacity: 0.6;
  font-size: 12px;
}

.sub-showcase__btn {
  display: block;
  margin: 0 auto;
  background: none;
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
  margin-bottom: .5em;
}

.sub-showcase__btn:hover {
  opacity: 1;
  
}

.library {
  background-color: #000;
}

.library__heading-container {
  padding: 25px 15px;
}

.library__eye {
  color: #00ED82;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  word-spacing: 1.7px;
  text-align: center;
  margin-top: 1.5rem;
  
}

.library__title {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.3rem;
}

.library__description {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.library__gallery {
  padding: 20px 15px 60px 15px;
  background: black;
}
.library__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3em;
}
.grid__item {
  position: relative;
}
.library__item-gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(156.82deg, 
  rgba(0,0,0,0.6) 4.58%, rgba(0,0,0,0) 69.61%),
  linear-gradient(24.5deg, rgba(0,0,0,0.2) 4.71%, 
  rgba(0,0,0,0) 71.49%);
  transition: ease-in-out all;
}

.grid__item{
  border: none;
  cursor: pointer;
}

.grid__item:hover .library__item-title span {
  text-decoration: underline;
} 

.library__item-title {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
}
.library__item-title span {
  display: block;
  font-weight: 300;
  font-size: 12px;
}
.library__item-title div {
  margin-top: .055em;
  font-weight: 700;
  font-size: 14px;
}